In [2]:
import pandas as pd
import dataframe_image as dfi

In [18]:
df_all_PSNR_re = pd.read_csv("PSNR_all_recovered.csv", index_col = [0])
df_all_SSIM_re = pd.read_csv("SSIM_all_recovered.csv",index_col = [0])
df_all_PSNR_re.insert(loc=0,column="TR",value=list_tr)
df_all_SSIM_re.insert(loc=0,column="TR",value=list_tr)

In [6]:
def highlight_max(s):
    # Get 5 largest values of the column
    is_large1 = s.nlargest(1).values
    is_large2 = s.nlargest(2).values
    # Apply style is the current value is among the 5 biggest values
    return ['color: DarkRed;font-weight:900' if v in is_large1 else 'font-weight:900' if v in is_large2 else '' for v in s]

In [36]:
hl_df_PSNR_all = df_all_PSNR_re.style.apply(highlight_max,subset=df_all_PSNR_re.columns[1:],axis=1).apply(lambda x: ['background: lightgreen:' if x.name == "Average" else '' for i in x], 
               axis=0)
hl_df_PSNR_all.format(precision=2)
hl_df_PSNR_all.hide_index()

C:\Users\DuyDat\AppData\Local\Temp\ipykernel_16680\1181682267.py:4: FutureWarning: this method is deprecated in favour of `Styler.hide(axis='index')`
  hl_df_PSNR_all.hide_index()

In [37]:
hl_df_SSIM_all = df_all_SSIM_re.style.apply(highlight_max,subset=df_all_SSIM_re.columns[1:],axis=1).apply(lambda x: ['background: lightgreen:' if x.name == "Average" else '' for i in x], 
               axis=0)
hl_df_SSIM_all.format(precision=4)
hl_df_SSIM_all.hide_index()

C:\Users\DuyDat\AppData\Local\Temp\ipykernel_16680\1666871456.py:4: FutureWarning: this method is deprecated in favour of `Styler.hide(axis='index')`
  hl_df_SSIM_all.hide_index()

In [39]:
dfi.export(
    hl_df_PSNR_all,
    "results/PSNR_recovered_Images.png",
    fontsize=12,
)

In [38]:
dfi.export(
    hl_df_SSIM_all,
    "results/SSIM_recovered_Images.png",
    fontsize=12,
)