In [1]:
import cv2
from experimentalFv1 import ex_psnr_w_imgs,ex_ssim_w_imgs
import numpy as np
from matplotlib import pyplot as plt
from tabulate import tabulate
import os
import pandas as pd
import json
import dataframe_image as dfi

In [2]:
with open("D:\\Dat_Hoctap\\2023\\Tamper_Recover\\A_Data\\Results_2022\\result_w_ssim.json") as cf:
    df_all_ssim = pd.DataFrame(json.load(cf))

In [3]:
root_dir = "D:\\Dat_Hoctap\\2023\\Tamper_Recover\\A_Data\\Data8Images"
list_paths = []
for subdir, dirs, files in os.walk(root_dir):
    for file in files:
        list_paths.append(os.path.join(subdir, file))

In [4]:
print(list_paths)

['D:\\Dat_Hoctap\\2023\\Tamper_Recover\\A_Data\\Data8Images\\airplane.png', 'D:\\Dat_Hoctap\\2023\\Tamper_Recover\\A_Data\\Data8Images\\baboon.png', 'D:\\Dat_Hoctap\\2023\\Tamper_Recover\\A_Data\\Data8Images\\house.tiff', 'D:\\Dat_Hoctap\\2023\\Tamper_Recover\\A_Data\\Data8Images\\lena.png', 'D:\\Dat_Hoctap\\2023\\Tamper_Recover\\A_Data\\Data8Images\\peppers.png', 'D:\\Dat_Hoctap\\2023\\Tamper_Recover\\A_Data\\Data8Images\\sailboat.tiff', 'D:\\Dat_Hoctap\\2023\\Tamper_Recover\\A_Data\\Data8Images\\splash.tiff', 'D:\\Dat_Hoctap\\2023\\Tamper_Recover\\A_Data\\Data8Images\\tiffany.bmp']

In [5]:
from skimage.metrics import structural_similarity as ssim
img = cv2.imread(list_paths[1])
img1 = img.copy()
print(ssim(img, img1,channel_axis=2))

1.0

In [6]:
key = (13,811,137)

In [7]:
proposed_ssim = ex_ssim_w_imgs(list_paths=list_paths,key=key)

In [8]:
print(proposed_ssim)

[0.9870555074939996, 0.9967415749261251, 0.9909039671809596, 0.9896666963999742, 0.9867199560708281, 0.9924247996046646, 0.9794832391740727, 0.9871220015559974]

In [9]:
p_ssim_round = [round(e,4) for e in proposed_ssim]
p_ssim_round.append(round(np.mean(proposed_ssim),4))

In [10]:
print(p_ssim_round)

[0.9871, 0.9967, 0.9909, 0.9897, 0.9867, 0.9924, 0.9795, 0.9871, 0.9888]

In [11]:
df_all_ssim["Proposed Method"] = p_ssim_round

In [12]:
print(df_all_ssim.keys())

Index(['Image', 'Tong(2013)', 'Dadklah(2014)', 'Singh(2016)', 'Fan(2018)',
       'Tai(2018)', 'Molina(2019)', 'Afrig(2022)', 'Muzamil(2022)',
       'Proposed Method'],
      dtype='object')

In [13]:
print(df_all_ssim)

      Image  Tong(2013)  Dadklah(2014)  Singh(2016)  Fan(2018)  Tai(2018)  \
0  Airplane      0.9194         0.9782       0.9194     0.9781     0.9781
1    Baboon      0.9763         0.9941       0.9763     0.9941     0.9941
2     House      0.9319         0.9815       0.9319     0.9815     0.9815
3      Lena      0.9307         0.9820       0.9307     0.9820     0.9820
4   Peppers      0.9234         0.9791       0.9234     0.9791     0.9791
5  Sailboat      0.9494         0.9868       0.9493     0.9867     0.9868
6    Splash      0.8942         0.9695       0.8942     0.9695     0.9696
7   Tiffany      0.9246         0.9806       0.9246     0.9804     0.9805
8   Average      0.9312         0.9815       0.9312     0.9814     0.9815

   Molina(2019)  Afrig(2022)  Muzamil(2022)  Proposed Method
0        0.9812       0.9889         0.9830           0.9871
1        0.9947       0.9990         0.9984           0.9967
2        0.9834       0.9967         0.9950           0.9909
3        0.9840       0.9993         0.9989           0.9897
4        0.9816       0.9991         0.9988           0.9867
5        0.9884       0.9980         0.9968           0.9924
6        0.9737       0.9983         0.9975           0.9795
7        0.9846       0.9985         0.9978           0.9871
8        0.9840       0.9972         0.9957           0.9888

In [57]:
def highlight_max(s):
    # Get 5 largest values of the column
    is_large1 = s.nlargest(1).values
    is_large2 = s.nlargest(2).values
    # Apply style is the current value is among the 5 biggest values
    return ['color: DarkRed;font-weight:900' if v in is_large1 else 'font-weight:900' if v in is_large2 else '' for v in s]

In [58]:
hl_df_ssim = df_all_ssim.style.apply(highlight_max,subset=df_all_ssim.columns[1:],axis = 1).apply(lambda x: ['background: lightgreen' if x.name == 8 else '' for i in x], 
               axis=1)

In [59]:
hl_df_ssim.format(precision=4)
hl_df_ssim.hide_index()

C:\Users\DuyDat\AppData\Local\Temp\ipykernel_19116\2749639962.py:2: FutureWarning: this method is deprecated in favour of `Styler.hide(axis='index')`
  hl_df_ssim.hide_index()

In [56]:
dfi.export(
    hl_df_ssim,
    "hl_table_ssim.png",
    fontsize=12,
)

In [76]:
print(df_all_ssim)

      Image  Tong(2013)  Dadklah(2014)  Singh(2016)  Fan(2018)  Tai(2018)  \
0  Airplane       37.88          44.12        37.88      44.11      44.12
1    Baboon       37.90          44.14        37.90      44.12      44.14
2     House       37.88          44.19        37.88      44.18      44.18
3      Lena       37.90          44.13        37.90      44.13      44.12
4   Peppers       37.79          44.06        37.79      44.06      44.06
5  Sailboat       37.90          44.12        37.90      44.10      44.11
6    Splash       37.84          44.08        37.84      44.08      44.09
7   Tiffany       37.44          43.85        37.44      43.84      43.85
8   Average       37.82          44.09        37.82      44.08      44.08

   Molina(2019)  Afrig(2022)  Muzamil(2022)  Proposed Method
0         44.69        45.68          44.70           46.370
1         44.64        45.70          44.92           46.365
2         44.66        45.69          44.70           46.355
3         44.60        45.71          44.98           46.366
4         44.54        45.54          44.76           46.163
5         44.61        45.68          44.87           46.357
6         44.47        45.57          44.84           46.211
7         44.87        44.95          44.89           45.874
8         44.64        45.57          44.83           46.258

In [13]:
print(tabulate(df_all_ssim, showindex=False, headers=df_all_ssim.keys()))

Image       Tong(2013)    Dadklah(2014)    Singh(2016)    Fan(2018)    Tai(2018)    Molina(2019)    Afrig(2022)    Muzamil(2022)    Proposed Method
--------  ------------  ---------------  -------------  -----------  -----------  --------------  -------------  ---------------  -----------------
Airplane        0.9194           0.9782         0.9194       0.9781       0.9781          0.9812         0.9889           0.983              0.9927
Baboon          0.9763           0.9941         0.9763       0.9941       0.9941          0.9947         0.999            0.9984             0.9981
House           0.9319           0.9815         0.9319       0.9815       0.9815          0.9834         0.9967           0.995              0.9946
Lena            0.9307           0.982          0.9307       0.982        0.982           0.984          0.9993           0.9989             0.9937
Peppers         0.9234           0.9791         0.9234       0.9791       0.9791          0.9816         0.9991           0.9988             0.9939
Sailboat        0.9494           0.9868         0.9493       0.9867       0.9868          0.9884         0.998            0.9968             0.9955
Splash          0.8942           0.9695         0.8942       0.9695       0.9696          0.9737         0.9983           0.9975             0.9918
Tiffany         0.9246           0.9806         0.9246       0.9804       0.9805          0.9846         0.9985           0.9978             0.9927
Average         0.9312           0.9815         0.9312       0.9814       0.9815          0.984          0.9972           0.9957             0.9941

In [120]:
df_all.to_csv("results/PSNR_Watermarked_Images.csv")